## Ans1)

In [1]:
import pandas as pd

In [3]:
data = [4,8,15,16,23,42]

In [4]:
df = pd.Series(data)

In [6]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Ans2)

In [7]:
lis = [1,2,3,4,5,6,7,8,9,10]
df = pd.Series(lis)

In [8]:
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
type(df)

pandas.core.series.Series

## Ans 3)

In [10]:
data = {'Name' : ['Alice', 'Bob','Claire'], 'Age' : [25, 30, 27], 'Gender':['Female','Male','Female']}

In [11]:
df1 = pd.DataFrame(data)

In [12]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Ans 4)

In [14]:
# In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of columns of different data types.
# On the other hand, a Series is a one-dimensional labeled data structure in Pandas.

import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Create a Series
ages = pd.Series([25, 30, 35], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

## Ans5)

In [ ]:
# common function for manipulating data
# head(), tail(), info(), describe(), fillna(), etc

# Example
df.sort_values('column_name', ascending=False)  # Sorts the DataFrame by a column in descending order
# Example
df.groupby('column_name').mean()  # Groups the DataFrame by a column and calculates the mean of each group

## Ans6)

In [15]:
#In Pandas, both Series and DataFrame are mutable, while Panel is no longer recommended for use and has been deprecated since version 0.20.0.

# Series: A Series is mutable, meaning you can modify its elements, change the index labels, and update the values.

# DataFrame: A DataFrame is also mutable, allowing you to modify its columns, add or remove columns, change values, and perform various data manipulations.

## Panel: Panel was a three-dimensional data structure in Pandas that could hold multiple DataFrames, but it has been deprecated in favor of other data structures like MultiIndex DataFrame or xarray. Panels are not mutable in nature.

## Ans7)

In [16]:
import pandas as pd

# Create Series
name_series = pd.Series(['John', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Create DataFrame using Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris